---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QWU4eS1hVjdxYVJpNlhlTHdkVlVpdnNPUS1aUkozVTA1cFJEdFN6RDYyd2lieU96X012cnhCaGJJNkh4MGMwRktvcmdZeE9VcXRJc1NNVHI6RUFSbThvWTNMcDJTOFZsbk5wRHBhY0J3bzNvcl9qbVR0cmdtMzNJMDVmQnVyRkREZ2VyTzhYU0lhSXROYmxLN2pGems5cm0yR0xKT2dFeHI=
  response:
    status:
      code: 200
      message: OK
    headers:
      Paypal-Debug-Id:
      - c71b14947dfed
      - c71b14947dfed
      X-Paypal-Token-Service:
      - IAAS
      Http-X-Pp-Az-Locator:
      - sandbox.slc
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"scope":"https://api.paypal.com/v1/payments/.* https://uri.paypal.com/services/payments/refund
        https://uri.paypal.com/services/applications/webhooks https://uri.paypal.com/services/invoicing
        https://uri.paypal.com/services/payments/payment/authcapture https://uri.paypal.com/payments/payouts
        https://api.paypal.com/v1/vault/credit-card/.* https://uri.paypal.com/services/disputes/read-seller
        https://uri.paypal.com/services/subscriptions https://uri.paypal.com/services/disputes/read-buyer
        https://api.paypal.com/v1/vault/credit-card openid https://uri.paypal.com/services/disputes/update-seller
        https://uri.paypal.com/services/payments/realtimepayment","nonce":"2018-12-24T05:24:12ZH-UCpRq0BrB_6qF3zKzBysmTrXDjThpZiBDuh2c82-4","access_token":"A21AAHHWgjCnbK9vGE1XBP8P1Gu1bxbfs5094iS17U1rD-HAodA0H2aK9xR0spQ7Bz-6CQGTfHy9owYKiT-V56zqkIHoRCprA","token_type":"Bearer","app_id":"APP-80W284485P519543T","expires_in":32038}'
  recorded_at: Mon, 24 Dec 2018 05:30:16 GMT
- request:
    method: get
    uri: https://api.sandbox.paypal.com/v1/payments/payment/test_404_payment_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer A21AAHHWgjCnbK9vGE1XBP8P1Gu1bxbfs5094iS17U1rD-HAodA0H2aK9xR0spQ7Bz-6CQGTfHy9owYKiT-V56zqkIHoRCprA
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Paypal-Debug-Id:
      - 4e7953e75043e
      - 4e7953e75043e
      Content-Language:
      - "*"
      Http-X-Pp-Az-Locator:
      - sandbox.slc
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"name":"INVALID_RESOURCE_ID","message":"Requested resource ID was
        not found.","information_link":"https://developer.paypal.com/docs/api/payments/#errors","debug_id":"4e7953e75043e"}'
  recorded_at: Mon, 24 Dec 2018 05:30:17 GMT
recorded_with: VCR 4.0.0
