---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QWU4eS1hVjdxYVJpNlhlTHdkVlVpdnNPUS1aUkozVTA1cFJEdFN6RDYyd2lieU96X012cnhCaGJJNkh4MGMwRktvcmdZeE9VcXRJc1NNVHI6RUFSbThvWTNMcDJTOFZsbk5wRHBhY0J3bzNvcl9qbVR0cmdtMzNJMDVmQnVyRkREZ2VyTzhYU0lhSXROYmxLN2pGems5cm0yR0xKT2dFeHI=
  response:
    status:
      code: 200
      message: OK
    headers:
      Paypal-Debug-Id:
      - bacfb3b62fc8b
      - bacfb3b62fc8b
      X-Paypal-Token-Service:
      - IAAS
      Http-X-Pp-Az-Locator:
      - sandbox.slc
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"scope":"https://api.paypal.com/v1/payments/.* https://uri.paypal.com/services/payments/refund
        https://uri.paypal.com/services/applications/webhooks https://uri.paypal.com/services/invoicing
        https://uri.paypal.com/services/payments/payment/authcapture https://uri.paypal.com/payments/payouts
        https://api.paypal.com/v1/vault/credit-card/.* https://uri.paypal.com/services/disputes/read-seller
        https://uri.paypal.com/services/subscriptions https://uri.paypal.com/services/disputes/read-buyer
        https://api.paypal.com/v1/vault/credit-card openid https://uri.paypal.com/services/disputes/update-seller
        https://uri.paypal.com/services/payments/realtimepayment","nonce":"2018-12-24T05:24:12ZH-UCpRq0BrB_6qF3zKzBysmTrXDjThpZiBDuh2c82-4","access_token":"A21AAHHWgjCnbK9vGE1XBP8P1Gu1bxbfs5094iS17U1rD-HAodA0H2aK9xR0spQ7Bz-6CQGTfHy9owYKiT-V56zqkIHoRCprA","token_type":"Bearer","app_id":"APP-80W284485P519543T","expires_in":30885}'
  recorded_at: Mon, 24 Dec 2018 05:49:29 GMT
- request:
    method: get
    uri: https://api.sandbox.paypal.com/v1/payments/payment/PAY-35V57137PS845305RLQQHFWY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer A21AAHHWgjCnbK9vGE1XBP8P1Gu1bxbfs5094iS17U1rD-HAodA0H2aK9xR0spQ7Bz-6CQGTfHy9owYKiT-V56zqkIHoRCprA
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Paypal-Debug-Id:
      - fa39b5e4242a7
      - fa39b5e4242a7
      Content-Language:
      - "*"
      Http-X-Pp-Az-Locator:
      - sandbox.slc
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"PAY-35V57137PS845305RLQQHFWY","intent":"sale","state":"created","cart":"25U46843YK7034133","payer":{"payment_method":"paypal","status":"VERIFIED","payer_info":{"email":"snow.jon@gmail.com","first_name":"K","last_name":"N","payer_id":"8NSLQPB58XBSY","shipping_address":{"recipient_name":"K
        N","line1":"Bajkowa 2 / 5,","line2":"Case postale 12","city":"Warszawa","state":"","postal_code":"00800","country_code":"PL"},"country_code":"PL"}},"transactions":[{"amount":{"total":"40.00","currency":"USD"},"payee":{"merchant_id":"GW4BRGGXHZRXU","email":"qba_n-facilitator@wp.eu"},"description":"Payment
        for order:","item_list":{"shipping_address":{"recipient_name":"K N","line1":"Bajkowa
        2 / 5,","line2":"Case postale 12","city":"Warszawa","state":"","postal_code":"00800","country_code":"PL"}},"related_resources":[]}],"redirect_urls":{"return_url":"https://www.sandbox.paypal.com/?paymentId=PAY-35V57137PS845305RLQQHFWY","cancel_url":"https://www.sandbox.paypal.com"},"create_time":"2018-12-24T05:47:07Z","update_time":"2018-12-24T05:49:28Z","links":[{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-35V57137PS845305RLQQHFWY","rel":"self","method":"GET"},{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-35V57137PS845305RLQQHFWY/execute","rel":"execute","method":"POST"},{"href":"https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout&token=EC-25U46843YK7034133","rel":"approval_url","method":"REDIRECT"}]}'
  recorded_at: Mon, 24 Dec 2018 05:49:30 GMT
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/payments/payment/PAY-35V57137PS845305RLQQHFWY/execute
    body:
      encoding: UTF-8
      string: '{"payer_id":"8NSLQPB58XBSY"}'
    headers:
      Authorization:
      - Bearer A21AAHHWgjCnbK9vGE1XBP8P1Gu1bxbfs5094iS17U1rD-HAodA0H2aK9xR0spQ7Bz-6CQGTfHy9owYKiT-V56zqkIHoRCprA
      Content-Type:
      - application/json
      Paypal-Request-Id:
      - 877cbe54-1b4e-47b9-8706-023e23897e90
  response:
    status:
      code: 200
      message: OK
    headers:
      Paypal-Debug-Id:
      - b47e25da7d310
      - b47e25da7d310
      Content-Language:
      - "*"
      Http-X-Pp-Az-Locator:
      - sandbox.slc
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"PAY-35V57137PS845305RLQQHFWY","intent":"sale","state":"approved","cart":"25U46843YK7034133","payer":{"payment_method":"paypal","status":"VERIFIED","payer_info":{"email":"snow.jon@gmail.com","first_name":"K","last_name":"N","payer_id":"8NSLQPB58XBSY","shipping_address":{"recipient_name":"K
        N","line1":"Bajkowa 2 / 5,","line2":"Case postale 12","city":"Warszawa","state":"","postal_code":"00800","country_code":"PL"},"country_code":"PL"}},"transactions":[{"amount":{"total":"40.00","currency":"USD","details":{}},"payee":{"merchant_id":"GW4BRGGXHZRXU","email":"qba_n-facilitator@wp.eu"},"description":"Payment
        for order:","item_list":{"shipping_address":{"recipient_name":"K N","line1":"Bajkowa
        2 / 5,","line2":"Case postale 12","city":"Warszawa","state":"","postal_code":"00800","country_code":"PL"}},"related_resources":[{"sale":{"id":"6C2184407F275535V","state":"completed","amount":{"total":"40.00","currency":"USD","details":{"subtotal":"40.00"}},"payment_mode":"INSTANT_TRANSFER","protection_eligibility":"ELIGIBLE","protection_eligibility_type":"ITEM_NOT_RECEIVED_ELIGIBLE,UNAUTHORIZED_PAYMENT_ELIGIBLE","transaction_fee":{"value":"1.46","currency":"USD"},"parent_payment":"PAY-35V57137PS845305RLQQHFWY","create_time":"2018-12-24T05:49:29Z","update_time":"2018-12-24T05:49:29Z","links":[{"href":"https://api.sandbox.paypal.com/v1/payments/sale/6C2184407F275535V","rel":"self","method":"GET"},{"href":"https://api.sandbox.paypal.com/v1/payments/sale/6C2184407F275535V/refund","rel":"refund","method":"POST"},{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-35V57137PS845305RLQQHFWY","rel":"parent_payment","method":"GET"}]}}]}],"create_time":"2018-12-24T05:49:30Z","links":[{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-35V57137PS845305RLQQHFWY","rel":"self","method":"GET"}]}'
  recorded_at: Mon, 24 Dec 2018 05:49:32 GMT
recorded_with: VCR 4.0.0
