// colors
$dodger_blue: #5952fd; // violet
$cerise: #e432d3; // pink
$wild_sand: #F5F4F4; // grey
$silver_chalice: #A1A1A1; // dark grey
$black: #3f3f40;
$white: white;
$true_black: black;

$main: $dodger_blue;
$secondary: $cerise;

// utils
$btn_box_shadow: 1px 1px 2px 0px #a7a7a7;
