.content {
  max-width: 1000px;
  margin: 0 auto 80px;
  white-space: pre-line;

  .section {
    margin: 50px auto;
    max-width: 800px;

    .title {
      color: $cerise;
      display: block;
      margin-bottom: 5px;
      font-size: 20px;

      @media (max-width: 440px) {
        text-align: center;
      }
    }
  }
}
