.double-images {
  position: relative;
  padding-bottom: 80px;

  img:last-child {
    position: absolute;
    transition: top 2s ease 0s, left 2s ease 0s, border-color 0.5s ease 0s;
    top: 40px;
    left: 40px;
    padding: 10px 10px 10px 0;
    border-right: 1px solid white;
  }

  img:first-child:hover + img {
    top: 100px;
    left: 175px;
    border-right-color: $dodger_blue;
  }
}
