.double-images {
  @media (max-width: 720px) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    .img-wrapper {
      flex: 0 0 49%;
    }

    img {
      width: 100%;
    }
  }

  @media (min-width: 721px) {
    position: relative;
    padding-bottom: 80px;

    .img-wrapper {
      width: 100%;
      max-width: 302px;

      img {
        width: 100%;
      }
    }
    .img-wrapper:last-child {
      position: absolute;
      top: 100px;
      right: 0;
    }
  }
}
