.two-columns {
  display: flex;
  justify-content: space-between;

  @media (max-width: 440px) {
    flex-direction: column;
  }

  .left {
    flex-basis: 49%;

    @media (max-width: 440px) {
      margin: 0 auto 10px;
    }

    & > img {
      max-width: 100%;
    }
  }

  .right {
    flex-basis: 49%;
  }
}
