html, body {
  height: 100%;
}

body {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  color: $black;
  display: flex;
  flex-direction: column;
}

.wrapper {
  flex-grow: 1;
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 10px;
}

* {
  box-sizing: border-box;
}

input, button, textarea {
  outline: none;
}

a {
  color: $main;
}
