@import './message_form';
@import './order_form';
@import './payment_failed';

.orders {
  .order-list {
    float: right;
    padding: 10px 0 10px 10px;
    border-left: 2px solid $mona_lisa;
  }

  .order-item {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;

    &.active {
      font-style: italic;
      text-decoration: underline;

    }
  }

  .order-price {
    background: $mona_lisa;
    margin-bottom: 40px;
    text-align: center;
    width: 190px;
    padding: 10px;

    .btn-pay {
      margin-top: 10px;
    }
  }

  .payment-form {
    margin-top: 10px;

    .stripe-button-el {
      @extend .btn;
      width: 100%;
      padding: 0 !important;
      background-image: none !important;

      &,
      &:not(:disabled):active,
      &:not(:disabled):active span {
        background: $cinnabar !important;
      }

      span {
        background: none;
        border: none;
        text-shadow: none;
      }
    }
  }

  .messages {
    width: 780px;

    .message {
      position: relative;
      padding: 20px;
      margin-bottom: 30px;

      .time {
        position: absolute;
        bottom: -15px;
        right: 0;
        font-size: 10px;
      }

      &::before {
        content: " ";
        position: absolute;
        width: 10px;
        height: 10px;
        top: calc(50% - 5px);
        transform: rotateZ(45deg);
      }
    }

    .guest {
      background-color: #ffeadf;

      &::before {
        left: -5px;
        background-color: #ffeadf;
      }
    }

    .me {
      margin-left: 20px;
      margin-right: -20px;
      background-color: $wild_sand;

      &::before {
        right: -5px;
        background-color: $wild_sand;
      }
    }
  }

  .prompt {
    padding-top: 20px;
    text-align: center;
  }

  .message-form-wrapper {
    padding-top: 20px;
  }
}
