@import './payment_failed';

.orders {
  display: flex;

  .order-list {
    flex-basis: 250px;
    padding: 10px 10px 10px 10px;
    border-right: 1px solid $wild_sand;

    .btn {
      background-color: $secondary;
      margin-bottom: 30px;
    }
  }

  .order-item {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;

    &.active {
      font-style: italic;
      text-decoration: underline;
    }
  }

  .order {
    flex-grow: 1;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
  }

  .order-price {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    padding: 10px;
    border-left: 1px solid $wild_sand;
  }

  .payment-form {
    display: inline-block;
    margin-left: 40px;

    .stripe-button-el {
      @extend .btn;
      width: 100%;
      padding: 0 !important;
      background-image: none !important;

      &,
      &:not(:disabled):active,
      &:not(:disabled):active span {
        background: $main !important;
      }

      span {
        background: none;
        border: none;
        text-shadow: none;
      }
    }
  }

  .messages {
    .message {
      position: relative;
      padding: 20px;
      margin-bottom: 30px;

      .time {
        position: absolute;
        bottom: -15px;
        right: 0;
        font-size: 10px;
      }

      &::before {
        content: " ";
        position: absolute;
        width: 10px;
        height: 10px;
        top: calc(50% - 5px);
        transform: rotateZ(45deg);
      }
    }

    .guest {
      background-color: #ffeadf;

      &::before {
        left: -5px;
        background-color: #ffeadf;
      }
    }

    .me {
      margin-left: 20px;
      background-color: $wild_sand;

      &::before {
        right: -5px;
        background-color: $wild_sand;
      }
    }
  }

  .prompt {
    padding-top: 20px;
    text-align: center;
  }
}
