@import './payment_failed';
@import './messages';

.orders {
  display: flex;

  .order-list {
    flex-basis: 250px;
    padding: 10px 10px 10px 10px;
    border-right: 1px solid $wild_sand;

    .btn {
      background-color: $secondary;
      margin-bottom: 30px;
    }
  }

  .order-item {
    position: relative;

    .link {
      display: inline-block;
      margin-bottom: 10px;
      text-decoration: none;

      &.active {
        font-style: italic;
        text-decoration: underline;
      }
    }

    .link:hover + .message-preview {
      display: block;
    }

    .message-preview {
      display: none;
      position: absolute;
      left: calc(100% + 10px);
      top: -5px;
      width: 275px;
      padding: 10px;
      z-index: 1;
      background-color: rgba(0,0,0, 0.7);
      color: white;
      border-radius: 4px;
      white-space: pre-line;
      font-size: 12px;

      &::before {
        content: "";
        position: absolute;
        display: block;
        top: 10px;
        left: -5px;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-right: 5px solid rgba(0, 0, 0, 0.7);
      }
    }
  }

  .order {
    flex-grow: 1;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
  }

  .order-price {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    padding: 10px;
    border-left: 1px solid $wild_sand;
  }

  .payment-form {
    display: inline-block;
    margin-left: 40px;

    .stripe-button-el {
      @extend .btn;
      width: 100%;
      padding: 0 !important;
      background-image: none !important;

      &,
      &:not(:disabled):active,
      &:not(:disabled):active span {
        background: $main !important;
      }

      span {
        background: none;
        border: none;
        text-shadow: none;
      }
    }
  }

  .prompt {
    padding-top: 20px;
    text-align: center;
  }
}
