.menu {
  a {
    display: inline-block;
    margin-left: 50px;
    text-align: center;
    color: $cocoa_bean;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
