.top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 330px;
    height: 75px;
    text-indent: -9999px;
    background: asset-url('logo.png') no-repeat 0 0;
    background-size: contain;
  }
}
