.footer {
  position: relative;

  height: 230px;
  background: asset-url('footer-background.png') no-repeat 50% 100%;
  background-size: contain;

  &::after {
    content: " ";
    position: absolute;
    left: 617px;
    top: -29px;
    width: 185px;
    height: 140px;
    background: asset-url('footer-shard-1.png') no-repeat 0 0;
  }

  .copyright {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    font-size: 11px;
    display: block;
    text-align: center;
    color: $white;
  }
}
